.profile {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__form {
    max-width: 410px;
    width: 100%;
    margin: 88px 0 200px;
    padding: 0;
}

.profile__input {
    display: flex;
    flex-direction: row;
    border: none;
    text-align: right;
    align-items: flex-end;
    justify-content: space-between;
    font-family: Inter sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0;
    background-color: transparent;
    min-width: 375px;
    padding: 16px 0 8px;
}

.profile__input:focus {
    outline: none;
}

.profile__input:first-child {
    border-bottom: 1px solid #E8E8E8;
}

.profile__greeting {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
    text-align: center;
    margin: 74px 0 0 0;
    padding: 0;
}

.profile__label {
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0;
    padding: 16px 0 8px;
}

.profile__input::placeholder {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0;
    text-align: right;
}

.profile__button {
    background-color: transparent;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    color: #000;
    transition: opacity 0.3s linear;
    border: none;
}

.profile__button:last-child {
    color: #FF3055;
    padding: 16px 0 0;
}

.profile__button:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .profile__greeting {
        margin: 236px 0 0 0;
    }

    .profile__form {
        margin: 80px 0 194px;
    }

    .profile__label {
        margin: 16px 0 16px;
    }
}

@media screen and (max-width: 320px) {
    .profile__form {
        max-width: 260px;
        margin: 64px 0 363px;
    }

    .profile__greeting {
        margin: 70px 0 0 0;
    }

    .profile__label {
        font-size: 12px;
        line-height: 14px;
    }

    .profile__button {
        font-size: 12px;
        line-height: 14px;
    }
}
