.nav {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    position: relative;
}

.nav__links-item {
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border: none;
    cursor: pointer;
    color: #000;
}

.nav__links_for_user-signup {
    color: #FFF;
    background-color: #000;
    margin-right: 30px;
    text-decoration: none;
    transition: opacity 0.3s linear;
}

.nav__links_for_user-signup:hover {
    cursor: pointer;
    opacity: 0.5;
}

.nav__links_for_user-signin {
    background-color: #F6BDFF;
    border-radius: 3px;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
    transition: opacity 0.3s linear;
}

.nav__links_for_user-signin:hover {
    cursor: pointer;
    opacity: 0.5;
}

.nav__links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.nav__links_for_films {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.nav__links_for_films-item {
    background-color: transparent;
    font-size: 13px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    text-decoration: none;
    padding: 0 16px 0 0;
    transition: opacity 0.3s linear;
}

.nav__links_for_films-item:hover {
    cursor: pointer;
    opacity: 0.5;
}

.nav__links_for_films-item:active {
    font-weight: 500;
}

.nav__link_for_account-item {
    background-color: #FFF;
    border-radius: 40px;
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0;
    height: 32px;
    width: 100px;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: opacity 0.3s linear;
}

.nav__link_for_account-item:hover {
    cursor: pointer;
    opacity: 0.5;
}

.nav__account-icon {
    width: 26px;
    height: 26px;
    margin: 0 0 0 7px;
    border-radius: 50%;
    background-color: #F9F9F9;
    background-image: url('../../images/icon__account.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px;
}

.nav__button-burger {
    background-image: url('../../images/icon__burgerOpen.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
    display: none;
    transition: opacity 0.3s linear;
    border: none;
    background-color: transparent;
}

.nav__button-burger:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .nav__button-burger {
        display: flex;
    }
}

@media screen and (max-width: 320px) {
    .nav__links_for_user-signin {
        padding: 5px 12px;
    }

    .nav__links_for_user-signup {
        margin-right: 14px;
    }

    .nav__links-item {
        font-size: 10px;
        line-height: 16px;
    }

    .nav__button-burger {
        background-image: url('../../images/icon__burgerOpen.png');
        width: 40px;
        height: 43px;
    }
}
