.portfolio {
    max-width: 100vw;
    background-color: #FFF;
    margin: 0;
    padding: 0 70px 125px;
}

.portfolio__links {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    color: #A0A0A0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.portfolio__links-item {
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    margin: 0;
    padding: 20px 0 0;
    height: 70px;
}

.portfolio__links-img {
    width: 29px;
    height: 60px;
}
