.header {
    max-width: 100vw;
    padding: 0 70px;
    background-color: #000;
    min-height: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .header {
        min-height: 74px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        min-height: 74px;
    }
}

