.card  {
    list-style-type: none;
    padding: 0 0 40px 0;
}

.card:last-of-type  {
    padding: 0;
}

.card__container {
    width: 100%;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px;
    margin: 0;
}

.card__group {
    padding: 14px 0 14px 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__img {
    width: 100%;
    height: 100%;
    max-width: 220px;
    max-height: 122px;
    object-fit: cover;
}

.card__img:hover {
    cursor: pointer;
}

.card__group-name {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    color: #000;
}

.card__group-duration {
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0;
    text-align: left;
    color: #A0A0A0;
    padding: 13px 0 30px;
}

.card__group-button {
    border: none;
    padding: 0;
    min-height: 12px;
    min-width: 14px;
    outline: none;
    transition: opacity 0.3s linear;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card__group-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.card__group-like {
    background-image: url('../../../images/like.svg');
}

.card__group-like_active {
    background-image: url('../../../images/likeActive.svg');
}

.card__group-cross {
    background-image: url('../../../images/icon__cross.svg');
}

@media screen and (max-width: 643px) {
    .card  {
        padding: 0 0 20px;
        margin: 0;
    }

    .card__container {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        max-width: 330px;
        padding: 0;
        margin: auto;
    }

    .card__group {
        display: grid;
        grid-template-columns: 228px 14px;
        grid-template-rows: repeat(2, 1fr);
    }

    .card__group-name {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 12px;
        line-height: 15px;
        padding: 0;
    }

    .card__group-duration {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
        padding: 6px 0 0;
    }

    .card__group-button {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        margin: auto;
        padding: 0 70px 0 0;
    }

    .card__img {
        width: 100%;
        margin: auto;
        object-fit: contain;
        max-width: 300px;
        max-height: 168px;
    }
}
