.register {
    min-width: 396px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.register__input {
    border-bottom: 1px solid #E8E8E8;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 5px 0 0;
    min-height: 28px;
    padding: 0;
}

.register__input:last-of-type {
    margin: 0;
}

.register__input:focus {
    outline: none;
}

.register__input-label {
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0;
    text-align: left;
    color: #A0A0A0;
    margin: 24px 0 0;
}

.register__input-span {
    color: #FF3055;
    margin-top: 6px;
    margin-right: auto;
    padding: 0;
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0;
    max-width: 396px;
    text-align: left;
}

@media screen and (max-width: 450px) {
    .register {
        min-width: 260px;
    }

    .register__input-span {
        max-width: 260px;
    }
}
