.search {
    max-width: 100vw;
    padding: 70px 70px 80px;
    margin: 0;
    border-bottom: 1px solid #E8E8E8;
    position: relative;
}

.search__form {
    padding: 0 19px;
    margin: 0;
    height: 72px;
    border-radius: 9px;
    border: none;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search__form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 34px;
    margin: 0;
}

.search__form-input {
    border: none;
    width: 100%;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

.search__form-input:focus {
    outline: red;
}

.search__form-button_find {
    width: 59px;
    height: 34px;
    border: none;
    background-color: #000;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    border-radius: 48px;
    cursor: pointer;
    margin: 0;
    transition: opacity 0.3s linear;
}


.search__form-button_find:hover {
    cursor: pointer;
    opacity: 0.5;
}

.search__form-input::placeholder {
    background-image: url('../../../images/icon__search.svg');
    background-repeat: no-repeat;
    background-position: left;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    color: #A0A0A0;
    padding: 0 0 0 44px;
    border: none;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .search {
        padding: 72px 0 115px;
        margin: 0 10px;
    }

    .search__form {
        padding: 0 19px 0 0;
    }

    .search__form-input::placeholder {
        background-image: none;
        padding: 25px 25px 0 19px;
        font-size: 14px;
    }
}
